<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>507321546238-ef9hm7jmmdn6hcpb71kit0mao5djrs9u.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.507321546238-ef9hm7jmmdn6hcpb71kit0mao5djrs9u</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>507321546238-fkjg0cj752orqj89593rmcjig2bltaa2.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyB5SLbEKwFH-5OYUq76v_d2e84qT3tE_IE</string>
	<key>GCM_SENDER_ID</key>
	<string>507321546238</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>fr.chokearth.memoryEz</string>
	<key>PROJECT_ID</key>
	<string>memory-ez</string>
	<key>STORAGE_BUCKET</key>
	<string>memory-ez.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:507321546238:ios:6d33a539f894346fd87caf</string>
</dict>
</plist>